
/* ------------------------------------header --------------------------------------------*/

header
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0 25px 0px;
}



nav ul
{
    padding-left: 0;
}

nav li
{
    margin-right: 0;
}

nav a
{
    padding: 0 70px 10px 50px;
    border-bottom: 3px solid #f2f2ff;
}

.deja_bleu
{
    padding-right: 35px;
}

nav a:hover
{
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    border-top: none;
}

/* main */

#main_container .slogan 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form
{
    justify-content: center;
}

input[type=submit]
{
    background-image: url('../images/search-solid.svg');
    
}

/* footer */

footer
{
    flex-direction: column;
}

#a_propos
{
    width: 100%;
}

#nos_hebergements
{
    width: 100%;
}

#assistance
{
    width: 100%;
}