
/* ---------------------------------Elements principaux de la page ---------------------------------*/

* 
{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('TrueType');
}

body
{
    font-family: 'Raleway', sans-serif;
    color: #000;
    margin: auto;
    /* max-width: 1440px; */
}

html, body
{
    width: 100%;
    overflow-x: hidden;
}

#main_container
{
    margin: 0px 50px 60px 50px;
}
    
#main_container h1 
{
    font-size: 22px;
    margin: 15px auto;
}
    
#main_container .slogan p 
{
    margin: 15px auto;
}   

main img
{
    width: 100%;
    object-fit: cover;
}

a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style-type: none;
}

figure
{
    margin: 0;
}

/* --------------------------------------------header --------------------------------------------*/

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 50px 0px 50px;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 90px;
    height: 45px;
}



/* -----------------------------------------Navigation------OK------------------------------------- */

nav ul
{
    display: flex;
}

nav li
{
    margin-right: 20px;
}

nav a
{
    font-size: 17px;
    padding: 28px;
}

nav a:hover
{
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

    /*--------------------------------------------formulaire-----OK----------------------------------- */


form
{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    height: 50px;
}

.icon_geo
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 15px;
}

input[type="text"]
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    border: solid 1px #f2f2f2;
    outline: none;
}

#search
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    background-color: #0065fc;
    border: solid 1px #0065fc;
    border-radius: 0 12px 12px 0;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

#search_icon
{
    display: none;
}

input::placeholder
{
    color: #000;
}

/*--------------------------------------------Filtres--------------------------------------------*/

#filtres
{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.all_filters
{
    display: flex;
    justify-content: space-between;
}

#filtres h3
{
    margin-right: 30px;
    font-size: 16px;
}

.filtres_style
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    font-weight: bold;
    margin-right: 20px;
    height: 50px;
}

.filters_icons_circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 52px;
    height: 52px; 
    margin: -2px;
    background-color: #DEEBFF;  
}

.icons
{
    color: #0065fc;
    font-size: 20px;
}

.filters_names 
{
    padding: 0 20px 0 15px;
    font-size: 16px;
}

.filtres_style:hover
{
    background-color: #DEEBFF;
    transition: ease-out 0.5s;
    cursor: pointer;
}

/* 500 logements */

.logements
{
    display: flex;
    align-items: center;
}

.cercle_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    width: 25px;
    height: 25px;
}

.cercle_icon i
{
    color: #0065fc;
    font-size: 12px;
}

/* ------------------------------------------section 1-------------------------------------------- */

#hebergements
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 50px;
}

.bloc_hebergements
{
    flex: 2;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 20px;
    padding: 40px 10px 40px 40px;
}

.bloc_hebergements h3
{
    font-size: 18px;
    margin: 0;
    padding-bottom: 15px;
}

.bloc_hebergements_content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.bloc_hebergements_content .row
{
	display: flex;
    flex: 1;
    justify-content: space-between;
}

.bloc_hebergements_content .row:last-child
{
	margin-top : 30px;
}

.card_hebergements
{
    width: 33%;
    height: auto;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px #0000002e;
    margin-right: 30px;
}

.card_hebergements img
{
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.card_hebergements figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 10px 10px;
}

.card_hebergements h4
{
    margin: 0;
    padding-bottom: 10px;
}

.card_hebergements p
{
    margin: 0;
    padding-bottom: 10px;
}

.A_plus
{
    font-weight: bold;
    padding-top: 20px;
}

.A_plus:hover
{
    cursor: pointer;
}

.bloc_populaires
{
    background-color: #f2f2f2;
    flex: 1;
    border-radius: 20px;
    padding: 40px 40px 10px 40px;
    margin-left: 20px;
}

.bloc_populaires header
{
    margin: 0;
}

.titreIcon
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titreIcon h3
{
    margin: 0;
}

.icons_popular
{
    font-size: 20px;
    padding-top: 4px;
    margin-left: 15px;
}

.bloc_1_populaires
{
    margin-top: 25px;
}

.card_populaires
{
    width: 100%;
    min-width: 280px;
    height: auto;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px #0000002e; 
    margin-bottom: 30px;
}

.card_populaires figure
{
    display: flex;
}

.card_populaires img
{
    height: 150px;
    width: 40%;
    border-radius: 15px 0px 0px 15px;
}



.card_populaires figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 60%;
    padding: 10px 0 10px 20px;
    /* line-height: 5px; */
}

.card_populaires p
{
    margin: 10px 0;
}

.card_populaires h4
{
    margin: 5px 0;
    font-weight: bold;
}

.prix
{
    font-weight: bold;
}

.stars
{
    color: #0065fc;
}

.no_stars
{
    color: #f2f2f2;
}

/* ------------------------------------------section 2----------------------------------------- */

#activites
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bloc_activites_content
{
    display: flex;
    height: auto;
}

.gros_bloc_1
{
    display: flex;
    flex: 1;
    margin-right: 20px;
}
.card_1
{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    flex: 1;
    border: transparent;
    border-radius: 20px;
    height: auto;
    margin-right: 20px;
}

.card_1 img
{
    height: 450px;
}

.petit_bloc_1
{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
    /* width: 50%; */
}

.card_2
{
    height: 60%;
    margin-bottom: 20px;
}

.card_2 img
{
    height: 225px;
}

.card_3
{
    height: 40%;
    margin-top: 20px;
}

.card_3 img
{
    height: 120px;
}

.gros_bloc_2
{
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.card_4
{
    /* display: flex;
    justify-content: flex; */
    flex: 1;
    margin-right: 20px;
}

.card_4 img
{
    height: 450px;
}

.petit_bloc_2
{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
}

.card_5
{
    height: 50%;
    margin-bottom: 20px;
}

.card_5 img
{
    height: 168px;
}

.card_6
{
    height: 50%;
    margin-top: 20px;
}

.card_6 img
{
    height: 168px;
}

/* elements des deux gros blocs */

.card_activites
{
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 20px;
}

.card_activites img
{
    border-radius: 20px 20px 0 0;
}

#activites  h4 
{
    padding-left: 15px;
}

/*-------------------------------------------footer-----OK----------------------------------------*/

footer
{
    display: flex;
    background-color: #f2f2f2;
    padding: 50px;
}

footer h2
{
    font-size: 14px;
}

footer ul
{
    padding-left: 0px;
}

footer li
{
    margin-bottom: 5px;
}

footer a
{
    font-size: 13px;
}

footer a:hover
{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}

#a_propos
{
    width: 35%;
}

#nos_hebergements
{
    width: 35%;
}

#assistance
{
    width: 30%;
}