* {
    box-sizing: border-box;
   }


/* -----------------------------------------Elements principaux de la page -----------------------------------------*/

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('ttf');
}

body
{
    font-family: 'Raleway', sans-serif;
    color: #000;
    margin: 0px;
}

#bloc_page
{
    width: 100%;
    margin: auto;
}

     /* --------------------------------------------header --------------------------------------------*/

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 50px 0px 50px;
}

#logo_titre
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 90px;
    height: 45px;
}

header h1
{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

header p
{
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
} 


    /* --------------------------------------------Navigation-------------------------------------------- */

 nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 20px;
}

nav a
{
    font-size: 17px;
    color: #000;
    padding: 28px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

    /*--------------------------------------------formulaire-------------------------------------------- */

form
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

form i
{ 
    color: #000;
    border: 1px solid #f2f2f2;
    border-radius: 12px 0 0 12px;
    background-color: #f2f2f2;
    padding: 10px 15px 10px 15px;
    position: relative;
    left: 2px;
}

#recherche
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    border: solid 1px #f2f2f2;
}

#boutton_recherche
{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    background-color: #0065fc;
    border: solid 1px #0065fc;
    border-radius: 0 12px 12px 0;
    padding: 10px 15px 10px 15px;
    position: relative;
    right: 2px;
}

    /*--------------------------------------------les filtres--------------------------------------------*/

#filtres
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

div h2
{
    font-size: 14px;
}

#filtres ul
{
    display: flex;
    list-style-type: none;
}

#filtres a
{
    color: black;
    text-decoration: none;
}

                                          /* body */

    /* ------------------------------------section 1--------------------------------------- */

section
{
    display: flex;
    flex-flow: row wrap;
    margin: 25px 50px 0px 50px;
}

    /* hebergements à marseille */

#hebergements
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 20px 20px;
    margin-right: 30px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    flex: 2.5;
}

#hebergements h1
{
    font-size: 18px;
    font-weight: bold;
}

#bloc_hebergements
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.card_1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #fff;
    border: 10px solid #fff;
    border-radius: 20px 20px 20px 20px;
    width: 33%;
    margin-right: 30px;  
}

.card_1 img
{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
}



    /* les plus populaires */

#les_plus_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    flex: 1;
}

.card_2
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #fff;
    border: 10px solid #fff;
    border-radius: 20px 20px 20px 20px;
}

.card_2 img
{
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
}

/* Propriétes communes aux deux div */

.prix
{
    font-weight: bold;
}

.stars
{
    color: #0065fc;
    font-size: 15px;
}

figcaption
{
    padding: 10px;
}

/* -------------------------------------section 2------------------------------------ */
/*--------------------------------------footer------------------------------------------*/

footer
{
    display: flex;
    background-color: #f2f2f2;
    padding: 50px;
    margin: 50px 0 0 0;
}

footer h2
{
    font-size: 14px;
    text-decoration: none;
}

footer ul
{
    list-style-type: none;
    padding-left: 0px;
}

footer li
{
    margin-bottom: 5px;
}

footer a
{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: normal;
}

footer a:hover
{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}

#a_propos
{
    width: 35%;
}

#nos_hebergements
{
    width: 35%;
}

#assistance
{
    width: 30%;
}