  

  /* ---------------------------------header ----------------------------------*/

header
{
    margin-right: 0px;
}
  
/*--------------------------------- main--------------------------------- */

/* ---------slogan plus petit--------- */

#main_container h1
{
    font-size: 18px;
}

#main_container .slogan p 
{
    font-size: 16px;
}

/* ---------form ---------*/

form
{
    margin-bottom: 30px;
}

/* ---------filtres---------*/

#filtres
{
    flex-wrap: wrap;
}

#filtres h3
{
    margin: 0 30px 16px 0;
}

.all_filters
{
    flex-wrap: wrap;
    justify-content: flex-start;
}

.filtres_style
{
    margin-bottom: 10px;
}

/*--------- section hebergements--------- */

#hebergements
{
    flex-direction: column-reverse;
}

.bloc_hebergements
{
    margin: 40px 0 0px 0;
}

.bloc_populaires
{
    margin-left: 0;
}

/* ---------section activites--------- */

.bloc_activites_content
{
    height: 300px;
}

.card_1 img{
    height: 79%;
}

.card_2
{
    height: 56%;
    margin-bottom: 30px;
}

.card_2 img
{
    height: 65%;
}

.card_3
{
    height: 34%;
}

.card_3 img
{
    height: 55%;
}

.card_4 img
{
    height: 79%;   
}

.card_5
{
    height: 45%;
    margin-bottom: 30px;
}

.card_5 img
{
    height: 52%;
}

.card_6
{
    height: 45%;
}

.card_6 img
{
    height: 70%;
}

#activites  h4 
{
    margin: 10px 0;
}

/* ---------footer---------*/
/* ---------Rien à modifier--------- */
